#Herşeyi index.php'ye yönlendirme
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Hata sayfaları
ErrorDocument 403 /sayfa/hata/403
ErrorDocument 404 /sayfa/hata/404
ErrorDocument 500 /sayfa/hata/500
ErrorDocument 502 /sayfa/hata/502

# Sıkıştırma kodları eklenmeli
